.Box {
  width: 8vh;
  height: 8vh;
  border: solid #3a3a3c;
  margin: 0.25vh;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 9.5vh;
}

.Box-Correct {
  width: 9.5vh;
  height: 9.5vh;
  margin: 0.25vh;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 9.5vh;
  background-color: #538d4e;
}

.Box-Incorrect {
  width: 9.5vh;
  height: 9.5vh;
  margin: 0.25vh;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 9.5vh;
  background-color: #3a3a3c;
}

.Box-Miss {
  width: 9.5vh;
  height: 9.5vh;
  margin: 0.25vh;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 9.5vh;
  background-color: #b59f3b;
}
