.Box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 8.6vh;
  max-width: 14vw;
  max-height: 14vw;
  height: 8.6vh;
  margin: 0.2vh;
  border: solid #3a3a3c;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 9.5vh;
  font-family: MyFont;
}

.Box-Correct {
  width: 8.6vh;
  max-width: 14vw;
  max-height: 14vw;
  height: 8.6vh;
  margin: 0.2vh;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 9.5vh;
  background-color: #538d4e;
  font-family: MyFont;
}

.Box-Incorrect {
  width: 8.6vh;
  max-width: 14vw;
  max-height: 14vw;
  height: 8.6vh;
  margin: 0.2vh;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 9.5vh;
  background-color: #3a3a3c;
  font-family: MyFont;
}

.Box-Miss {
  width: 8.6vh;
  max-width: 14vw;
  max-height: 14vw;
  height: 8.6vh;
  margin: 0.2vh;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 9.5vh;
  background-color: #b59f3b;
  font-family: MyFont;
}
